/* Text Elements */

h1 {
  color: #000;
  text-align: center;
  font-weight: 700;
  font-family: 'Archivo', sans-serif;
}

h1.main-heading {
  color: #ffc680;
  text-transform: uppercase;
  text-shadow: #151515 2px 2px 30px;
  letter-spacing: 5px;
  font-variant: normal;
  font-size: 2.5rem;
}

h1#book-heading {
  font-size: 8vw;
}

h1 span.heading-text-1 {
  color: #eaeaea;
}

h1 span.heading-text-2 {
  color: #3cb8ff;
}

h1 span.heading-text-4 {
  color: #00c3ff;
}

h1 span.heading-text-5 {
  color: #eaeaea;
}


h1 span.heading-text-7 {
  color: #eaeaea;
}

h1 span.heading-text-8 {
  color: #00c3ff;
}

h2.info-title {
  color: #ffc680;
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  font-family: 'Archivo', sans-serif;
}

h2.offer-heading {
  color: #eaeaea;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  font-family: 'Archivo', sans-serif;
}

.heading-text-7 {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  --text-color: #000000; /* Default text color */
  font-family: 'Archivo', sans-serif;
}

h2.info-title.quote-heading {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h2 span.heading-text-3 {
  color: #000000;
  font-weight: 700;
  font-family: 'Archivo', sans-serif;
  
}
h2 span.headunderinfo {
  margin-right: auto;
  margin-left:250px;
  text-align: center;
  font-weight: 700;
  max-width: 800px;
  color: #000000;
  font-size: 20px;
  
}
h2 span.heading-text-6 {
  color: #000000;
}

h2.payment-heading {
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

h2 span.heading-text-9 {
  color: #000000;
}

h2 span.heading-text-10 {
  color: #00c3ff;
}

h3.blog-heading {
  color: #3cd397;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  font-family: 'Archivo', sans-serif;
}

h4.benefit-type {
  padding-bottom: .3125rem;
  color: #000000;
  text-align: center;
  font-weight: 300;
  font-variant: normal;
  font-size: 26px;
  font-family: 'Archivo', sans-serif;
}

h4.news-heading {
  padding-top: .625rem;
  color: #595959;
  text-align: center;
  font-family: 'Archivo', sans-serif;
}

h4 {
  font-size: 25px;
}

h5 {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h5.citation {
  color: #3cd397;
  text-align: center;
  font-size: 1.25rem;
  font-family: 'Archivo', sans-serif;
}

p.paragraph {
  color: #adadad;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
}

p.paragraph.benefit-paragraph {
  color: #adadad;
  font-size: 1.58rem;
}

p.paragraph.dark-parargraph {
  margin-bottom: 1.25rem;
  color: #575757;
}

p.paragraph.intro-highlighted-paragraph {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #fff;
}

p.paragraph.services-paragraph {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
  color: #000000;
}

p.paragraph.payment-p {
  max-width: 1200px;
  color: #67686c;
}

span.text-element.quote {
  padding-top: .3125rem;
  color: #3cd397;
  text-align: center;
  font-weight: 700;
  font-size: 2.065rem;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

a.link-text.menu-link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
}

a.link-text.text-link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: #3cd397;
  text-align: center;
  font-weight: 300;
  font-family: 'Archivo', sans-serif;
}

a.link-text.text-link-1 {
  color: #eaeaea;
  font-family: 'Archivo', sans-serif;
}

a.link-text.menu-link:hover {
  color: #ffc680;
  font-size: 16px;
}

/* Interaction Elements */

a.link-button.appointment-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  max-width: 250px;
  border: .0625rem solid #3ffdb1;
  border-radius: 5px;
  background-color: #00c3ff;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 17px;
}

a.link-button {
  font-family: 'Archivo', sans-serif;
}

a.link-button.hero-button {
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px;
  max-width: 250px;
  width: 100%;
  border: 0 solid #3ffdb1;
  border-radius: 5px;
  background-color: #00c3ff;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 16px;
}

a.link-button.appointment-button:hover {
  border-color: #0fb674;
  background-color: #2dbd84;
}

a.link-button.hero-button:hover {
  border-color: #0fb674;
  background-color: #2dbd84;
}

/* Layout Elements */

body.dark-body {
  background-color: #151515;
}

.container.title-bar {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.container#realeutatemenu {
  display: none;
}

.container.top-bar-left {
  float: left;

  -webkit-box-flex: 1;
  -webkit-flex: auto;
     -moz-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.container.responsive-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: end;
  -ms-flex-align: end;
  background-color: #010101;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
          align-items: flex-end;
}

.container.top-bar {
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
}

.container.hidden-column {
  display: none;
  margin-top: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-radius: 10px;
  background-color: #fff;
}

.container.discount-container {
  margin-right: auto;
  margin-left: auto;
  padding: 50px 20px 50px 30px;
  max-width: 800px;
  background-color: rgba(2, 2, 2, .66);
}

.container.FNX {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;
  min-height: 80vh;
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/FNX.jpg');
  background-image:    -moz-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/FNX.jpg');
  background-image:      -o-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/FNX.jpg');
  background-image:         linear-gradient(0deg, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/FNX.jpg');
  background-attachment: scroll, fixed;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}
.container.header-region {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;
  min-height: 80vh;
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/Backkghround.jpg');
  background-image:    -moz-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/Backkghround.jpg');
  background-image:      -o-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/Backkghround.jpg');
  background-image:         linear-gradient(0deg, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images/Backkghround.jpg');
  background-attachment: scroll, fixed;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.book-offer {
  padding-top: 90px;
  padding-bottom: 90px;
  max-width: none;
  background-color: #3ffdb1;
  background-image: url('../images/annie-spratt-608001-unsplash-%281%29.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .98;

  background-blend-mode: normal;
}

.container.info {
  margin-top: -20px;
  margin-bottom: 120px;
}

.container.secondary {
  margin: 90px auto;
}

.container.spotlight {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-bottom: 0px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.spot {
  margin: 20px auto;
  padding-right: 0;
  padding-left: 0;
  width: 90%;
}

.container.blog {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.blog-card {
  margin: 20px auto;
  padding: 30px 12px 20px;
  width: 90%;
  border-radius: 5px;
  background-color: #fff;
}

.container.card-inner {
  float: none;
}

.container.quotes-section {
  margin-top: 0x;
  margin-bottom: 0px;
}

.container.quote-cards-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-align: center;
  margin-bottom: 20px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}

.container.quote-card {
  margin: 20px 16px;
  padding: 10px 20px 0;
  max-width: 400px;
  border-radius: 5px;
  background-color: #e9e9e9;
  box-shadow: rgba(0, 0, 0, .5) 5px 5px 10px 0;
}

.container.highlighted-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin: 2rem auto;
  padding: 1rem;
  min-height: 600px;
  max-width: 1000px;
  background-color: transparent;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
}

.container.large-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
  padding-bottom: 4.375rem;
  max-width: 50rem;
}

.container.highlighted.large-container {
  margin-top: 2.5rem;
  margin-bottom: 4.375rem;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
  max-width: 2000px;
  background-color: transparent;
}

.container.highlighted {
  margin: 70px auto;
  max-width: 400px;
  background-color: rgba(9, 8, 8, .47);
}

.container.header-image-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100%;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
}

.container.hero-section-services {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: center;
  -ms-flex-align: stretch;
  min-height: 100vh;
  background-color: #000;
  background-image: -webkit-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images\quiz_banner.png');
  background-image:    -moz-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images\quiz_banner.png');
  background-image:      -o-linear-gradient(bottom, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images\quiz_banner.png');
  background-image:         linear-gradient(0deg, rgba(21, 21, 21, 1) 0%, rgba(29, 30, 33, 0) 100%), url('../images\quiz_banner.png');
  background-attachment: scroll, fixed;
  background-position: left top, center center;
  background-clip: border-box, border-box;
  background-origin: padding-box, padding-box;
  background-size: auto auto, cover;
  background-repeat: no-repeat, no-repeat;

  background-blend-mode: normal, normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
     -moz-box-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.blog-card:hover {
  position: relative;
  top: -2px;
}

ul.list-container.dropdown.menu {
  -ms-flex-pack: center;
  background-color: transparent;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

div.responsive-picture.news-images {
  margin-right: auto;
  margin-left: auto;
  max-width: none;
  border-width: 0;
  border-style: solid;
  border-radius: 8px;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

span.glyph.font-icon-menu {
  display: inline-block;
  clear: right;
  margin-right: 1%;
  color: #fff;
  vertical-align: middle;
  font-size: 1.5625rem;
  line-height: 0;
}

.rule hr {
  border-top-width: .125rem;
  border-top-color: #fefefe;
}

.rule {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-bottom: 0;
  width: 40%;
}

span.glyph.button.font-icon-menu {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}

span.glyph.font-icon-image {
  border-color: #3cd397;
  color: #3cd397;
  text-align: center;
  font-size: 30px;
}

span.glyph.button.font-icon-menu:hover {
  color: #5cf000;
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1#book-heading {
    font-size: 3.5rem;
  }

  h2.payment-heading {
    font-size: 1.625rem;
  }

  h3.blog-heading {
    font-size: 1.5rem;
  }

  h4.news-heading {
    font-size: 1.125rem;
  }

  h4.benefit-type {
    font-size: 20px;
  }

  p.paragraph.benefit-paragraph {
    font-size: 18px;
    line-height: 1;
  }

  /* Layout Elements */

  .container.title-bar {
    display: none;
  }

  .container#realeutatemenu {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
  }

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.top-bar {
    background-color: transparent;
  }

  .container.book-offer {
    background-attachment: fixed, fixed;
    background-position: center top, center top;
    background-clip: border-box, border-box;
    background-origin: padding-box, padding-box;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
  }

  .container.spotlight {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container.spot {
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
  }

  .container.blog {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
    padding-bottom: 40px;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-justify-content: space-around;
            justify-content: space-around;
  }

  .container.blog-card {
    width: 40%;
    border-radius: 8px;
  }

  .container.quote-cards-holder {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container.quote-card {
    display: block;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  .container.header-region {
    background-color: #000;
  }

  .container.header-image-holder {
    padding-bottom: 50px;
    background-position: center top;
  }

  .container.hero-section-services {
    background-color: #000;
  }

  ul.list-container.dropdown.menu {
    background-color: transparent;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h3.blog-heading {
    font-size: 1.25rem;
  }

  h4.benefit-type {
    font-size: 22px;
  }

  h4.news-heading {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: .5rem;
    font-size: 1.0625rem;
  }

  p.paragraph.benefit-paragraph {
    font-size: 18px;
    line-height: 1;
  }

  /* Interaction Elements */

  a.link-button {
    font-family: 'Archivo', sans-serif;
  }

  a.link-button.appointment-button {
    border-color: #3ffdb1;
  }

  a.link-button.hero-button {
    border-color: #3ffdb1;
  }

  /* Layout Elements */

  .container.top-bar-left {
    padding-top: 0;
  }

  .container.book-offer {
    background-color: #3ffdb1;
    background-image: url('../images/annie-spratt-608001-unsplash-%281%29.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }
  .container.sevices {
    background-image: url('../images/FNX.jpg');

  }
  .container.spot {
    padding-right: 0;
    padding-left: 0;
    width: 25%;
  }

  .container.quote-cards-holder {
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    padding-bottom: 20px;
  }

  .container.header-region {
    background-position: center center;
  }

  .container.discount-container {
    max-width: 1000px;
  }

  .container.large-container {
    float: none;
  }

  .container.header-image-holder {
    padding-top: 50px;
    padding-bottom: 70px;
    background-position: center center;
    background-size: cover;
  }

  .container.hero-section-services {
    background-position: center center;
  }

  .container.blog-card:hover {
    position: relative;
    top: -2px;
  }

  div.responsive-picture.news-images {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
    max-width: none;
  }
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 0;
  margin-top: auto;
  max-width: 100%;
  width: 100%;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li:last-child {
  margin-right: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.quiz-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center text within the container */
}


label {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #4caf50; /* Border color same as background */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
  border-color: #45a049; /* Adjust border color on hover */
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

article {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container.spotlightnews {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-bottom: 0px;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
}